<br />
<mat-toolbar>
    <mat-toolbar-row *ngIf="!inputActive">
        <span [matTooltip]="buttonActivate.tooltip()"><button mat-raised-button color="primary" (click)="buttonActivate.click()" *ngIf="buttonActivate.show()" [disabled]="buttonActivate.disable()">{{ buttonActivate.label() }}</button></span>
        <span [matTooltip]="buttonNew.tooltip()"><button mat-raised-button color="basic" (click)="buttonNew.click()" *ngIf="buttonNew.show()" [disabled]="buttonNew.disable()">{{ buttonNew.label() }}</button></span>
        <span [matTooltip]="buttonCopy.tooltip()"><button mat-stroked-button color="basic" (click)="buttonCopy.click()" *ngIf="buttonCopy.show()" [disabled]="buttonCopy.disable()">{{ buttonCopy.label() }}</button></span>
        <span [matTooltip]="buttonEdit.tooltip()"><button mat-stroked-button color="basic" (click)="buttonEdit.click()" *ngIf="buttonEdit.show()" [disabled]="buttonEdit.disable()">{{ buttonEdit.label() }}</button></span>
        <span [matTooltip]="buttonDelete.tooltip()"><button mat-stroked-button color="warn" (click)="buttonDelete.click()" *ngIf="buttonDelete.show()" [disabled]="buttonDelete.disable()">{{ buttonDelete.label() }}</button></span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="inputActive">
        <form (ngSubmit)="onInputSubmit()">
            <mat-form-field class="profile-name-input">
                <mat-label>{{ inputProfileNameLabel }}</mat-label>
                <input matInput #inputFocus="matInput" type="text" [formControl]="inputProfileName" (keyup.esc)="inputActive=false" placeholder="profile name" minLength="1" maxLength="50" />
            </mat-form-field>
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn" (click)="inputActive=false">Cancel</button>
        </form>
    </mat-toolbar-row>
</mat-toolbar>
<br />
<mat-card>
    <mat-card-title>
        {{ currentProfile.name }}
        <mat-chip-list style="display: inline-flex">
            <mat-chip *ngIf="isCustomProfile()" color="accent" selected>Custom</mat-chip>
            <mat-chip *ngIf="!isCustomProfile()">Preset</mat-chip>
        </mat-chip-list>
    </mat-card-title>
    <mat-card-subtitle>
        Profile overview
    </mat-card-subtitle>
    <mat-card-content>
        <mat-card>
            <mat-card-subtitle>
                Display backlight
            </mat-card-subtitle>
            <mat-card-content>
                <mat-grid-list cols="4" rowHeight="20px" class="profile-information">
                    <mat-grid-tile colspan="2"><header>Set fixed brightness</header></mat-grid-tile><mat-grid-tile><content>{{ currentProfile.display.useBrightness }}</content></mat-grid-tile><mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile colspan="2"><header>Brightness value</header></mat-grid-tile><mat-grid-tile><content>{{ currentProfile.display.brightness }}%</content></mat-grid-tile><mat-grid-tile></mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
        <br />
        <mat-card>
            <mat-card-subtitle>
                CPU settings
            </mat-card-subtitle>
            <mat-card-content>
                <mat-grid-list cols="4" rowHeight="20px" class="profile-information">
                    <mat-grid-tile colspan="2"><header>Number of logical cores</header></mat-grid-tile><mat-grid-tile><content>{{ currentProfile.cpu.onlineCores }}</content></mat-grid-tile><mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile colspan="2"><header>Minimum scaling frequency</header></mat-grid-tile><mat-grid-tile><content>{{ formatFrequency(currentProfile.cpu.scalingMinFrequency) }} GHz</content></mat-grid-tile><mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile colspan="2"><header>Maximum scaling frequency</header></mat-grid-tile><mat-grid-tile><content>{{ formatFrequency(currentProfile.cpu.scalingMaxFrequency) }} GHz</content></mat-grid-tile><mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile colspan="2"><header>Scaling governor</header></mat-grid-tile><mat-grid-tile><content>{{ currentProfile.cpu.governor }}</content></mat-grid-tile><mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile colspan="2"><header>Energy performance preference</header></mat-grid-tile><mat-grid-tile><content>{{ currentProfile.cpu.energyPerformancePreference }}</content></mat-grid-tile><mat-grid-tile></mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>