<div class="webcam-settings-edit" [hidden]="!webcamInitComplete" [formGroup]="webcamFormGroup">
    <mat-card-title class="profile-title">
        <div></div>
        <div class="save-reset-buttons">
            <span i18n-matTooltip="@@cProfMgrButtonDiscardTooltip" matTooltip="Discard changes">
                <button mat-icon-button color="basic" (click)="discardFormInput()" [disabled]="!webcamFormGroup.dirty">
                    <svg viewBox="0 0 512 512">
                        <use href="./assets/images/icon_reset.svg#Icon"></use>
                    </svg>
                </button>
            </span>
            <span i18n-matTooltip="@@cProfMgrButtonSaveTooltip" matTooltip="Save changes">
                <button mat-icon-button color="basic" (click)="savingWebcamPresets()"
                    [disabled]="!webcamFormGroup.dirty">
                    <svg viewBox="0 0 512 512">
                        <use href="./assets/images/icon_save.svg#Icon"></use>
                    </svg>
                </button>
            </span>
        </div>
    </mat-card-title>

    <mat-card class="profile-details-edit">
        <mat-card-content>
            <div class="tcc-options-group">
                <div class="title-row">
                    <hr />
                    <div class="title">
                        <svg viewBox="0 0 512 512" class="tcc-icons">
                            <use href="./assets/images/icon_webcam.svg#Icon"></use>
                        </svg>
                        <ng-container i18n="@@cProfMgrDetailsWebcamHeaderLabel">Webcam
                        </ng-container>
                    </div>
                    <hr />
                </div>

                <button id="basic" type="button" mat-button (click)="openWindow()">
                    Open Window
                </button>

                <div class="webcam" id="hidden">
                    <video #video id="video" width="640" height="480" autoplay="false"></video>
                    <mat-spinner class="spinner" [hidden]="!spinnerActive"></mat-spinner>
                </div>

                <mat-card-content class="content">
                    <div>
                        <!-- webcam -->
                        <mat-grid-list [cols]="gridParams.cols" rowHeight="30px" class="profile-details-edit-grid">
                            <mat-grid-tile [colspan]="gridParams.headerSpan">
                                <header>Webcam</header>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="gridParams.valueSpan"></mat-grid-tile>
                            <mat-grid-tile [colspan]="gridParams.inputSpan">
                                <content class="input">
                                    <mat-select name="selectedWebcamId" [(value)]="selectedWebcamId"
                                        placeholder="Webcam" (selectionChange)="setWebcam($event.value)">
                                        <mat-option *ngFor="let webcam of webcamDropdownData" [value]="webcam.id">
                                            {{ webcam.label }}
                                        </mat-option>
                                    </mat-select>

                                    <button mat-icon-button color="primary" (click)="mapCameraPathsToDevice()">
                                        <mat-icon>refresh</mat-icon>
                                    </button>

                                </content>
                            </mat-grid-tile>

                        </mat-grid-list>
                        <!-- presets -->
                        <mat-grid-list [cols]="gridParams.cols" rowHeight="30px" class="profile-details-edit-grid">
                            <mat-grid-tile [colspan]="gridParams.headerSpan">
                                <header>Preset</header>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="gridParams.valueSpan"></mat-grid-tile>
                            <mat-grid-tile [colspan]="gridParams.inputSpan">
                                <content class="input">

                                    <mat-select [(ngModel)]="selectedPreset" [compareWith]="comparer"
                                        [ngModelOptions]="{standalone: true}"
                                        (selectionChange)="applyConfig($event.value.webcamSettings)">
                                        <mat-option *ngFor="let config of thisWebcamConfigs" [value]="config">
                                            {{ config.presetName }}
                                        </mat-option>
                                    </mat-select>

                                    <button mat-icon-button color="primary" (click)="deletePreset()">
                                        <mat-icon>delete_forever</mat-icon>
                                    </button>

                                </content>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <!-- EASY MODE -->
                        <ng-container *ngIf="easyModeActive">
                            <ng-container *ngFor="let webcamConfig of getWebcamSettingNames()">
                                <ng-container *ngIf="easyOptions.includes(webcamConfig)">
                                    <!-- SLIDER -->
                                    <div *ngIf="getOptionValue(webcamConfig, 'type')=='slider'">
                                        <mat-grid-list [cols]="gridParams.cols" rowHeight="30px"
                                            class="profile-details-edit-grid">
                                            <mat-grid-tile [colspan]="gridParams.headerSpan">
                                                <header>{{ getConfigTranslation(webcamConfig) }}
                                                </header>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="gridParams.valueSpan">
                                                <content class="value">
                                                    {{ getPercentValue(webcamConfig) }} %
                                                </content>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>remove</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary" (mousedown)="mousedown()"
                                                    (mouseup)="mouseup()" (mouseleave)="mouseup()">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="gridParams.inputSpan">
                                                <content class="input">
                                                    <mat-slider [max]="getOptionValue(webcamConfig, 'max')"
                                                        [min]="getOptionValue(webcamConfig, 'min')"
                                                        [step]="getOptionValue(webcamConfig, 'step')"
                                                        formControlName="{{webcamConfig}}"
                                                        (change)="setSliderValue($event.value, webcamConfig)"
                                                        color="primary">
                                                    </mat-slider>
                                                    <button mat-icon-button color="primary"
                                                        (click)="webcamFormGroup.controls[webcamConfig].setValue(viewWebcam[webcamConfig]); 
                                                            setSliderValue(viewWebcam[webcamConfig], webcamConfig); webcamFormGroup.controls[webcamConfig].markAsPristine()"
                                                        [hidden]="!webcamFormGroup.get(webcamConfig).dirty && !webcamFormGroup.get(webcamConfig).disabled">
                                                        <mat-icon>undo</mat-icon>
                                                    </button>
                                                </content>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                    <!-- BOOL -->
                                    <div *ngIf="getOptionValue(webcamConfig, 'type')=='bool'">
                                        <mat-grid-list [cols]="gridParams.cols" rowHeight="30px"
                                            class="profile-details-edit-grid">
                                            <mat-grid-tile [colspan]="gridParams.headerSpan">
                                                <header>{{ getConfigTranslation(webcamConfig) }}
                                                </header>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="gridParams.valueSpan">
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <content class="input">
                                                    <mat-checkbox color="primary" formControlName="{{webcamConfig}}"
                                                        (change)="setCheckboxValue($event.checked, webcamConfig)">
                                                    </mat-checkbox>
                                                </content>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                    <!-- MENU -->
                                    <div *ngIf="getOptionValue(webcamConfig, 'type')=='menu'">
                                        <mat-grid-list [cols]="gridParams.cols" rowHeight="30px"
                                            class="profile-details-edit-grid">
                                            <mat-grid-tile [colspan]="gridParams.headerSpan">
                                                <header>{{ getConfigTranslation(webcamConfig) }}
                                                </header>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="gridParams.valueSpan">
                                                <content class="value">
                                                    {{ webcamFormGroup.get(webcamConfig).value }}
                                                </content>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="gridParams.inputSpan">
                                                <content class="input">
                                                    <mat-select formControlName="{{webcamConfig}}">
                                                        <!-- value -->
                                                        <mat-option
                                                            *ngFor="let option of getOptionValue(webcamConfig, 'options')"
                                                            color="primary"
                                                            (onSelectionChange)="setOptionsMenuValue($event, webcamConfig, option)"
                                                            [value]="option">
                                                            {{ option }}
                                                        </mat-option>
                                                    </mat-select>
                                                </content>
                                                <!-- <content class="input">{{ option }}</content> -->
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <!-- ADVANCED MODE -->
                        <ng-container *ngIf="!easyModeActive">
                            <ng-container *ngFor="let webcamCategory of webcamCategories">
                                <mat-accordion class="example-headers-align" multi class="list-group-item">
                                    <mat-expansion-panel (opened)="handleRegionPanelStateChange(webcamCategory, true)"
                                        (closed)="handleRegionPanelStateChange(webcamCategory, false)"
                                        [expanded]="expandedRegions[webcamCategory]">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{ webcamCategory }}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <!-- SLIDER -->
                                        <ng-container *ngFor="let webcamConfig of getWebcamSettingNames()">
                                            <div
                                                *ngIf="getOptionValue(webcamConfig, 'category')==webcamCategory && getOptionValue(webcamConfig, 'type') =='slider'">
                                                <mat-grid-list [cols]="gridParams.cols" rowHeight="30px"
                                                    class="profile-details-edit-grid">
                                                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                                                        <header>
                                                            {{ getConfigTranslation(webcamConfig) }}
                                                        </header>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                                                        <content class="value">
                                                            {{ getPercentValue(webcamConfig, webcamConfig.value) }} %
                                                        </content>
                                                        <button mat-icon-button color="primary">
                                                            <mat-icon>remove</mat-icon>
                                                        </button>
                                                        <button mat-icon-button color="primary"
                                                            (mousedown)="mousedown()" (mouseup)="mouseup()"
                                                            (mouseleave)="mouseup()">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                                                        <content class="input">
                                                            <mat-slider [max]="getOptionValue(webcamConfig, 'max')"
                                                                [min]="getOptionValue(webcamConfig, 'min')"
                                                                [step]="getOptionValue(webcamConfig, 'step')"
                                                                formControlName="{{webcamConfig}}"
                                                                (change)="setSliderValue($event.value, webcamConfig)"
                                                                color="primary">
                                                            </mat-slider>
                                                            <button mat-icon-button color="primary"
                                                                (click)="webcamFormGroup.controls[webcamConfig].setValue(viewWebcam[webcamConfig]); 
                                                                    setSliderValue(viewWebcam[webcamConfig], webcamConfig); webcamFormGroup.controls[webcamConfig].markAsPristine()"
                                                                [hidden]="webcamFormGroup.get(webcamConfig).disabled ? true : ((webcamFormGroup.get(webcamConfig).dirty) ? false : true)">
                                                                <mat-icon>undo</mat-icon>
                                                            </button>
                                                        </content>
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </div>
                                            <!-- BOOL -->
                                            <div
                                                *ngIf="getOptionValue(webcamConfig, 'category')==webcamCategory && getOptionValue(webcamConfig, 'type') =='bool'">
                                                <mat-grid-list [cols]="gridParams.cols" rowHeight="30px"
                                                    class="profile-details-edit-grid">
                                                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                                                        <header>
                                                            {{ getConfigTranslation(webcamConfig) }}
                                                        </header>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                        <content class="input">
                                                            <mat-checkbox color="primary"
                                                                formControlName="{{webcamConfig}}"
                                                                (change)="setCheckboxValue($event.checked, webcamConfig)">
                                                            </mat-checkbox>
                                                        </content>
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </div>
                                            <!-- MENU -->
                                            <div
                                                *ngIf="getOptionValue(webcamConfig, 'category')==webcamCategory && getOptionValue(webcamConfig, 'type') =='menu'">
                                                <mat-grid-list [cols]="gridParams.cols" rowHeight="30px"
                                                    class="profile-details-edit-grid">
                                                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                                                        <header>
                                                            {{ getConfigTranslation(webcamConfig) }}
                                                        </header>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                                                        <content class="value">
                                                            {{ webcamFormGroup.get(webcamConfig).value }}
                                                        </content>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                                                        <content class="input">
                                                            <mat-select formControlName="{{webcamConfig}}">
                                                                <mat-option
                                                                    *ngFor="let option of getOptionValue(webcamConfig, 'options')"
                                                                    color="primary"
                                                                    (onSelectionChange)="setOptionsMenuValue($event, webcamConfig, option)"
                                                                    [value]="option">
                                                                    {{ option }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </content>
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </div>
                                        </ng-container>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </ng-container>
                        </ng-container>
                        <button id=" basic" type="button" mat-button (click)="showAdvancedSettings()">
                            Advanced Settings
                        </button>

                        <button id="basic" type="button" mat-button (click)="disableAdvancedSettings()">
                            Disable Advanced Settings
                        </button>
                    </div>
                </mat-card-content>
            </div>
        </mat-card-content>
    </mat-card>
</div>