<br />
<mat-accordion class="info-accordion">
    <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Information
            </mat-panel-title>
            <mat-panel-description>
                General information
                <mat-icon><img src="./assets/images/information.svg"></mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            TUXEDO Control Center is an application that lets you take control of your TUXEDO.
        </p>
        <p>
            Current version <strong>{{ appVersion }}</strong> is built upon
        </p>
        <table class="versions" cellspacing="0">
            <tr><td>Node</td><td><strong>{{ nodeVersion }}</strong></td>
            <tr><td>Electron</td><td><strong>{{ electronVersion }}</strong></td>
            <tr><td>Angular</td><td><strong>{{ angularVersion }}</strong></td>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Changelog
            </mat-panel-title>
            <mat-panel-description>
                What's new? What's old?
                <mat-icon>track_changes</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="changelog">
            <markdown src="assets/CHANGELOG.md"></markdown>
        </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Imprint
            </mat-panel-title>
            <mat-panel-description>
                Legal statement
                <mat-icon>gavel</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>
            <code>
    Alter Postweg 101
    86159 Augsburg
    Deutschland

    Telefon: +49 (0) 821 / 8998 2992
    Telefax: +49 (0) 821 / 8998 2999
    E-Mail: tux@tuxedocomputers.com
    USt-IdNr.: DE815420876 
    WEEE-Reg.-Nr.: DE 93420497
    eingetragen im Handelsregister des Amtsgerichtes Augsburg
    Handelsregisternummer HRB 27755
            </code>
        </pre>
    </mat-expansion-panel>

</mat-accordion>
