SUBSYSTEM=="video4linux", ACTION=="add", KERNEL=="video[0-9]*", RUN+="/usr/bin/python3 /opt/tuxedo-control-center/resources/dist/tuxedo-control-center/data/camera/cameractrls.py -s $devnode,$env{ID_VENDOR_ID},$env{ID_MODEL_ID},/etc/tcc/webcam,/opt/tuxedo-control-center/resources/dist/tuxedo-control-center/data/camera/v4l2_kernel_names.json"
