.prime-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;

    mat-radio-button {
        margin: 5px;

        .inner-label {
            padding-left: 8px;
            white-space: normal;

            header {
                font-size: 1.2em;
                font-weight: bolder;
            }
        }
    }
}
