
<mat-toolbar>
  <mat-toolbar-row class="title-row">
    <img src="./assets/tuxedo-control-center_256.png" id="title-logo">
    <div id="main-title">{{ title }}</div>
    <i class="fas fa-times" (click)="buttonExit()"></i>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="main-sidenav-container">
  <mat-sidenav
          mode="side"
          opened
          [disableClose]="true">
    <mat-nav-list>
      <mat-list-item *ngFor="let profile of profiles" (click)="chooseProfile(profile.name)">
        <a href="#" [ngClass]="{ 'selected': profile.name === settings.activeProfileName }">
          {{ profile.name }}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" (click)="buttonExit()">Exit</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100%">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
