<div id="main-window-view">

  <header>
    <img src="./assets/logo.svg" id="title-logo">
    <div id="main-title">{{ title }}</div>
    <ul>
      <li><i class="fas fa-times" (click)="buttonExit()"></i></li>
    </ul>
  </header>

  <nav>
    <ul>
      <li *ngFor="let profile of profiles">
        <a href="#" (click)="chooseProfile(profile.name)" [ngClass]="{ 'selected': profile.name === settings.activeProfileName }">
          {{ profile.name }}
        </a>
      </li>
      <li>
        <a href="#" (click)="buttonExit()">Exit</a>
      </li>
    </ul>
  </nav>

  <!--main>
    <router-outlet></router-outlet>
  </main-->

</div>