<div class="pagewrap" [ngClass]="{'blur-no-input': pageDisabled()}">
  <mat-toolbar>
    <mat-toolbar-row class="title-row">
      <img src="./assets/tuxedo-control-center_256.png" id="title-logo">
      <div id="main-title">{{ title }}</div>
      <i class="fas fa-times" (click)="buttonExit()"></i>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav mode="side" opened [disableClose]="true" class="main-sidenav-nav">
      <mat-nav-list>
        <mat-list-item [routerLink]="'/profile-manager/' + activeProfileName">
          <span matLine i18n="@@menuActiveProfile">Active profile</span>
          <span matLine style="font-weight: bold">{{ activeProfileName }}</span>
        </mat-list-item>
        <mat-list-item routerLink="/profile-manager" routerLinkActive="true">
          <content>
            <ng-container i18n="@@menuProfiles">Profiles</ng-container>
            <mat-icon><img src="./assets/images/userinfo.svg" /></mat-icon>
          </content>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/display-settings" routerLinkActive="true">
          <content>
            <ng-container i18n="@@menuDisplay">Screen</ng-container>
            <mat-icon><img src="./assets/images/displaylight.svg" /></mat-icon>
          </content>
        </mat-list-item>
        <mat-list-item routerLink="/cpu-dashboard" routerLinkActive="true">
          <content>
            <ng-container i18n="@@menuCpu">CPU</ng-container>
            <mat-icon><img src="./assets/images/cpu.svg" /></mat-icon>
          </content>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
      <mat-nav-list class="bottom">
        <mat-list-item>
          <mat-form-field class="language-select">
            <mat-select #selectLang [value]="getCurrentLanguageId()">
              <mat-select-trigger>
                <mat-icon><img [src]="'./assets/images/' + languagesMenu[selectLang.value].img" /></mat-icon>
                {{ languagesMenu[selectLang.value].label }}
              </mat-select-trigger>
              <mat-option
                *ngFor="let lang of languagesMenuArray"
                (click)="changeLanguage(lang.id)"
                [value]="lang.id">
                <mat-icon><img [src]="'./assets/images/' + lang.img" /></mat-icon> {{ lang.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item routerLink="/support" routerLinkActive="true">
          <content>
            <ng-container i18n="@@menuSupport">Support</ng-container>
            <mat-icon><img src="./assets/images/support.svg" /></mat-icon>
          </content>
        </mat-list-item>
        <mat-list-item routerLink="/info" routerLinkActive="true">
          <content>
            <ng-container i18n="@@menuInfo">Info</ng-container>
            <mat-icon><img src="./assets/images/information.svg" /></mat-icon>
          </content>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="buttonExit()">
          <content>
            <ng-container i18n="@@menuExit">Exit</ng-container>
            <mat-icon>exit_to_app</mat-icon>
          </content>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
