.title-row {
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    align-items: center;

    #title-logo {
        max-height: 45px;
    }

    i {
        -webkit-app-region: no-drag;
    }
}

.main-sidenav-container {
    position: absolute;
    top: 90px;
    bottom: 8px;
    left: 8px;
    right: 8px;

    .selected {
        font-weight: bold;
    }
}

.main-sidenav-nav {
    width: 220px;

    mat-list-item {
        content {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.main-sidenav-content {
    padding: 10px;
    margin: 0;
    bottom: 20px;
    overflow-y: scroll;
}
