.display-brightness-settings {

    mat-form-field {
        margin-right: 10px;
    }

    mat-grid-tile mat-card {
        width: 300px;
    }

    .brightness-input-field {
        width: 50px;
        margin-right: 0px;
    }

    mat-checkbox {
        margin-left: 10px;
    }
}
