.keyboard-backlight-content {
    align-items: center;
}

header {
    width: 100%;
    padding-right: 20px;
    text-align: left;
    font-size: 1.15em;
}

content.value {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.15em;
}

.align-top-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start;
}

.align-top-right-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
}

.key-group {
    &.key-background-unselected .key_outline {
        stroke:darkslategrey;
    }
    &.key-background-selected .key_outline {
        stroke:slategrey;
    }
    &:hover {
        .key_outline,
        .key_outline {
            stroke:LightGrey;
        }
    }
}