.keyboard-backlight-content {
    align-items: center;
}

header {
    width: 100%;
    padding-right: 20px;
    text-align: left;
    font-size: 1.15em;
}

content.value {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.15em;
}
