.spinner {
    position: absolute;
    justify-content: center;
    align-items: center; 
    vertical-align: middle;
}
    
.webcam {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;

    overflow: hidden !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

*, *.light {
    background-color: #F5F5F5;
}

@media (prefers-color-scheme: dark) {
*, *.dark {
    background-color: #252525;
}
}