.current-password-input {
    margin-bottom: 1em;
}

.controls {
    margin-top: 1em;
    button {
        margin-right: 1em;
    }
}

.mat-form-field {
    width: 25vw;
}

.mat-hint {
    float: right;
}

.error-hint {
    font-size: 95%;
    color: #f44336 !important;
}