[Desktop Entry]
Name=TUXEDO Control Center
Comment=Tray icon for TUXEDO Control Center
Exec=/opt/tuxedo-control-center/tuxedo-control-center --tray
Terminal=false
Type=Application
Icon=tuxedo-control-center
Categories=System;TrayIcon
