<mat-accordion class="tcc-accordion">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon><svg viewBox="0 0 512 512"><use href="./assets/images/icon_settings.svg#Icon"></use></svg></mat-icon>
                <ng-container i18n>Global Settings</ng-container>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-global-settings></app-global-settings>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon><svg viewBox="0 0 512 512"><use href="./assets/images/icon_stopwatch.svg#Icon"></use></svg></mat-icon>
                <ng-container>Shutdown Timer</ng-container>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-shutdown-timer></app-shutdown-timer>
    </mat-expansion-panel>
</mat-accordion>