.profile-overview-tile{

    padding: 10px;

    width: auto;
    height: 40px;
    margin: 5px;
    user-select: none;

    header {
        display: flex;
        align-items: flex-start;
        height: 20px;

        .status-icon{
            transform: scale(0.7);
            transform-origin: top left;
        }
    }

    .status-row {

        width: 100%;
        transform: scale(0.8);
        transform-origin: left;
        margin: 0px;
        padding: 0px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        >* {
            margin-right: 4px;
        }

        .status-icon {
            transform: scale(0.7);
            transform-origin: left;
            opacity: 0.2;

            &.active {
                opacity: 1.0;
            }
        }
    }
}