<mat-card *ngIf="viewProfile" class="profile-details-edit" [formGroup]="profileFormGroup">
    <mat-card-title class="profile-title">
        <span class="name" *ngIf="!editProfile">
            {{ profileFormGroup.controls.name.value }}
        </span>
        <mat-form-field class="name" *ngIf="editProfile">
            <input matInput #inputName="matInput"
                formControlName="name"
                type="text"
                minLength="1"
                maxLength="50"
                (focus)="$event.target.select()">
        </mat-form-field>
        <mat-button-toggle-group
            [formControl]="selectStateControl"
            multiple
            i18n-matTooltip="@@cProfMgrDetailsSelectStatesLabel" matTooltip="Activate profile on"
            matTooltipPosition="left"
            [matTooltipShowDelay]="1000"
        >
            <mat-button-toggle
                *ngFor="let state of stateInputArray"
                disableRipple
                [disabled]="getSettings().stateMap[state.value] === viewProfile.name"
                [value]="state.value"
                [matTooltip]="stateButtonTooltip(state.tooltip, state.value)"
                [matTooltipShowDelay]="1000"
            >
                <mat-icon>{{ state.icon }}</mat-icon> {{ state.label }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card-title>
    <mat-card-content>
        <!-- Display settings -->
        <mat-card class="settings-group">
            <mat-card-subtitle class="title">
                <mat-icon><img src="./assets/images/displaylight.svg" /></mat-icon>
                <ng-container i18n="@@cProfMgrDetailsDisplayHeaderLabel">Display</ng-container>
            </mat-card-subtitle>
            <mat-card-content class="content">
                <div formGroupName="display">
                    <mat-grid-list [cols]="gridParams.cols" rowHeight="30px" class="profile-details-edit-grid">

                        <mat-grid-tile [colspan]="gridParams.headerSpan"><header i18n="@@cProfMgrDetailsUseBrightnessLabel">Set fixed brightness on start/wake up</header></mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.valueSpan">
                            <!--content class="value" [hidden]="editProfile">
                                <span *ngIf="viewProfile.display.useBrightness" i18n="@@cProfMgrDetailsUseBrightnessYes">yes</span>
                                <span *ngIf="!viewProfile.display.useBrightness" i18n="@@cProfMgrDetailsUseBrightnessNo">no</span>
                            </content-->
                            <content class="value">
                                <span [hidden]="!inputUseBrightness.checked" i18n="@@cProfMgrDetailsUseBrightnessYes">yes</span>
                                <span [hidden]="inputUseBrightness.checked" i18n="@@cProfMgrDetailsUseBrightnessNo">no</span>
                            </content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.inputSpan">
                            <content class="input" [hidden]="!editProfile">
                                <mat-checkbox #inputUseBrightness formControlName="useBrightness"></mat-checkbox>
                            </content>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="gridParams.headerSpan">
                            <header [ngClass]="{'inactive': !inputUseBrightness.checked}" i18n="@@cProfMgrDetailsBrightnessLabel">Backlight brightness</header>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.valueSpan">
                            <content class="value" [hidden]="editProfile" [ngClass]="{'inactive': !inputUseBrightness.checked}">{{ viewProfile.display.brightness }}%</content>
                            <content class="value" [hidden]="!editProfile" [ngClass]="{'inactive': !inputUseBrightness.checked}">{{ inputDisplayBrightness.value }}%</content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.inputSpan">
                            <content class="input" [hidden]="!editProfile" [ngClass]="{'inactive': !inputUseBrightness.checked}">
                                <mat-slider #inputDisplayBrightness formControlName="brightness" (input)="inputDisplayBrightnessChange(inputDisplayBrightness.value)" min="0" max="100" step="5"></mat-slider>
                            </content>
                        </mat-grid-tile>

                    </mat-grid-list>
                </div>
            </mat-card-content>
        </mat-card>
        <br />
        <!-- CPU settings -->
        <mat-card class="settings-group">
            <mat-card-subtitle class="title">
                <mat-icon><img src="./assets/images/cpu.svg" /></mat-icon>
                <ng-container i18n="@@cProfMgrDetailsCpuHeaderLabel">CPU settings</ng-container>
            </mat-card-subtitle>
            <mat-card-content class="content">
                <mat-grid-list formGroupName="cpu" [cols]="gridParams.cols" rowHeight="30px" class="profile-details-edit-grid">

                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                        <header i18n="@@cProfMgrDetailsNrCoresLabel">Number of logical cores</header>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                        <content class="value" [hidden]="editProfile">{{ viewProfile.cpu.onlineCores }}</content>
                        <content class="value" [hidden]="!editProfile">{{ inputOnlineCores.value }}</content>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                        <content class="input" [hidden]="!editProfile">
                            <mat-slider #inputOnlineCores formControlName="onlineCores" min="1" [max]="cpuInfo.availableCores" step="1"></mat-slider>
                        </content>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                        <header i18n="@@cProfMgrDetailsMinFreqLabel">Minimum scaling frequency</header>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                        <content class="value" [hidden]="editProfile">{{ formatFrequency(viewProfile.cpu.scalingMinFrequency) }} GHz</content>
                        <content class="value" [hidden]="!editProfile">{{ formatFrequency(inputScalingMinFrequency.value) }} GHz</content>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                        <content class="input" [hidden]="!editProfile">
                            <mat-slider #inputScalingMinFrequency formControlName="scalingMinFrequency" [min]="cpuInfo.minFreq" [max]="cpuInfo.maxFreq" step="100000" (change)="sliderMinFreqChange()"></mat-slider>
                        </content>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                        <header i18n="@@cProfMgrDetailsMaxFreqLabel">Maximum scaling frequency</header>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                        <content class="value" [hidden]="editProfile">{{ formatFrequency(viewProfile.cpu.scalingMaxFrequency) }} GHz</content>
                        <content class="value" [hidden]="!editProfile">{{ formatFrequency(inputScalingMaxFrequency.value) }} GHz</content>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                        <content class="input" [hidden]="!editProfile">
                            <mat-slider #inputScalingMaxFrequency formControlName="scalingMaxFrequency" [min]="cpuInfo.minFreq" [max]="cpuInfo.maxFreq" step="100000" (change)="sliderMaxFreqChange()"></mat-slider>
                        </content>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                        <header i18n="@@cProfMgrDetailsGovernorLabel">Scaling governor</header></mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                        <content class="value" [hidden]="editProfile">{{ viewProfile.cpu.governor }}</content>
                        <content class="value" [hidden]="!editProfile">{{ profileFormGroup.controls.cpu.controls.governor.value }}</content>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                        <content class="input" [hidden]="!editProfile">
                            <mat-select formControlName="governor" [disableOptionCentering]="true" (selectionChange)="governorSelectionChange()">
                                <mat-option *ngFor="let governor of cpuInfo.scalingAvailableGovernors" [value]="governor">{{ governor }}</mat-option>
                            </mat-select>
                        </content>
                    </mat-grid-tile>

                    <!--mat-grid-tile [colspan]="gridParams.headerSpan"><header>Energy performance preference</header></mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                        <content class="value" [hidden]="editProfile">{{ viewProfile.cpu.energyPerformancePreference }}</content>
                        <content class="value" [hidden]="!editProfile">{{ profileFormGroup.controls.cpu.controls.energyPerformancePreference.value }}</content>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                        <content class="input" [hidden]="!editProfile">
                            <mat-select formControlName="energyPerformancePreference" [disableOptionCentering]="true">
                                <mat-option *ngFor="let energyPreference of cpuInfo.energyPerformanceAvailablePreferences" [value]="energyPreference">{{ energyPreference }}</mat-option>
                            </mat-select>
                        </content>
                    </mat-grid-tile-->

                    <mat-grid-tile [colspan]="gridParams.headerSpan">
                        <header i18n="@@cProfMgrDetailsTurboLabel">Turbo</header>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.valueSpan">
                        <!--content class="value" [hidden]="editProfile">{{ viewProfile.cpu.noTurbo ? 'yes' : 'no' }}</content-->
                        <content class="value">
                            <span [hidden]="!inputNoTurbo.checked" i18n="@@cProfMgrDetailsTurboYes">yes</span>
                            <span [hidden]="inputNoTurbo.checked" i18n="@@cProfMgrDetailsTurboNo">no</span>
                        </content>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="gridParams.inputSpan">
                        <content class="input" [hidden]="!editProfile">
                            <mat-checkbox #inputNoTurbo [checked]="!profileFormGroup.get('cpu').value.noTurbo" (change)="profileFormGroup.get('cpu').get('noTurbo').setValue(!$event.checked); profileFormGroup.get('cpu').get('noTurbo').markAsDirty();"></mat-checkbox>
                        </content>
                    </mat-grid-tile>

                </mat-grid-list>
            </mat-card-content>
        </mat-card>
        <br />
        <!-- Fan control settings -->
        <mat-card class="settings-group">
            <mat-card-subtitle class="title">
                <mat-icon>toys</mat-icon>
                <ng-container i18n="@@cProfMgrDetailsFanControlHeaderLabel">Fan control</ng-container>
            </mat-card-subtitle>
            <mat-card-content class="content">
                <div formGroupName="fan">
                    <mat-grid-list [cols]="gridParams.cols" rowHeight="30px" class="profile-details-edit-grid">

                        <mat-grid-tile [colspan]="gridParams.headerSpan">
                            <header i18n="@@cProfMgrDetailsUseFanControlLabel">Use TCC fan control</header>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.valueSpan">
                            <!--content class="value" [hidden]="editProfile">{{ viewProfile.fan.useControl ? 'yes' : 'no' }}</content-->
                            <content class="value">
                                <span [hidden]="!inputUseFanControl.checked" i18n="@@cProfMgrDetailsUseFanControlYes">yes</span>
                                <span [hidden]="inputUseFanControl.checked" i18n="@@cProfMgrDetailsUseFanControlNo">no</span>
                            </content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.inputSpan">
                            <content class="input" [hidden]="!editProfile">
                                <mat-checkbox #inputUseFanControl formControlName="useControl"></mat-checkbox>
                            </content>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="gridParams.headerSpan">
                            <header [ngClass]="{'inactive': !inputUseFanControl.checked}" i18n="@@cProfMgrDetailsFanProfileLabel">Fan profile</header>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.valueSpan">
                            <content class="value" [hidden]="editProfile" [ngClass]="{'inactive': !inputUseFanControl.checked}">{{ viewProfile.fan.fanProfile }}</content>
                            <content class="value" [hidden]="!editProfile" [ngClass]="{'inactive': !inputUseFanControl.checked}">{{ profileFormGroup.controls.fan.controls.fanProfile.value }}</content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.inputSpan">
                            <content class="input" [hidden]="!editProfile" [ngClass]="{'inactive': !inputUseFanControl.checked}">
                                <mat-select formControlName="fanProfile" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let fanProfileName of getFanProfileNames()" [value]="fanProfileName">{{ fanProfileName }}</mat-option>
                                </mat-select>
                            </content>
                        </mat-grid-tile>

                    </mat-grid-list>
                </div>
            </mat-card-content>
        </mat-card>
        <br />
        <!-- Webcam settings -->
        <mat-card class="settings-group">
            <mat-card-subtitle class="title">
                <mat-icon>videocam</mat-icon>
                <ng-container i18n="@@cProfMgrDetailsWebcamHeaderLabel">Webcam</ng-container>
            </mat-card-subtitle>
            <mat-card-content class="content">
                <div formGroupName="webcam">
                    <mat-grid-list [cols]="gridParams.cols" rowHeight="30px" class="profile-details-edit-grid">

                        <mat-grid-tile [colspan]="gridParams.headerSpan">
                            <header i18n="@@cProfMgrDetailsWebcamUseStatusLabel">Set webcam status on start/wakeup</header>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.valueSpan">
                            <!--content class="value" [hidden]="editProfile">{{ viewProfile.webcam.useStatus ? 'yes' : 'no' }}</content-->
                            <content class="value">
                                <span [hidden]="!inputUseStatus.checked" i18n="@@cProfMgrDetailsWebcamUseStatusYes">yes</span>
                                <span [hidden]="inputUseStatus.checked" i18n="@@cProfMgrDetailsWebcamUseStatusNo">no</span>
                            </content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.inputSpan">
                            <content class="input" [hidden]="!editProfile">
                                <mat-checkbox #inputUseStatus formControlName="useStatus"></mat-checkbox>
                            </content>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="gridParams.headerSpan">
                            <header [ngClass]="{'inactive': !inputUseStatus.checked}" i18n="@@cProfMgrDetailsWebcamStatus">Webcam status (on/off)</header>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.valueSpan">
                            <!--content class="value" [hidden]="editProfile" [ngClass]="{'inactive': !inputUseStatus.checked}">{{ viewProfile.webcam.status ? 'on' : 'off' }}</content-->
                            <content class="value" [ngClass]="{'inactive': !inputUseStatus.checked}">
                                <span [hidden]="!inputWebcamStatus.checked" i18n="@@cProfMgrDetailsWebcamStatusOn">on</span>
                                <span [hidden]="inputWebcamStatus.checked" i18n="@@cProfMgrDetailsWebcamStatusOff">off</span>
                            </content>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="gridParams.inputSpan">
                            <content class="input" [hidden]="!editProfile" [ngClass]="{'inactive': !inputUseStatus.checked}">
                                <mat-checkbox #inputWebcamStatus formControlName="status"></mat-checkbox>
                            </content>
                        </mat-grid-tile>

                    </mat-grid-list>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>