<div *ngIf="!loadingBar" class="container">
    <h2 mat-dialog-title> Change graphics configuration and reboot? </h2>
    <mat-dialog-content class="mat-typography">

        <mat-dialog-content *ngIf="primeSelectMode != 'on-demand'" class="content">
            Do you want to switch to <strong>{{ primeSelectMode }}</strong> mode, which uses the {{ primeSelectMode ===
            'iGPU' ? 'integrated' : 'dedicated' }} graphics processor for your applications?
        </mat-dialog-content>

        <mat-dialog-content *ngIf="primeSelectMode == 'on-demand'" class="content">
            Do you want to switch to <strong>on-demand</strong> mode? To learn how to use the on-demand mode please
            follow this guide:
            <button (click)="openHelpPage()">Click
                to open link</button>
        </mat-dialog-content>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="action-row">
            <button mat-button (click)="closeWindow()">Cancel</button>
            <button mat-button (click)="applyPrimeConfig()">Apply</button>
        </div>
    </mat-dialog-actions>
</div>

<div *ngIf="loadingBar" class="container">
    <h2 mat-dialog-title> Applying Graphics Profile </h2>
    <mat-dialog-content class="mat-typography">
        <p class="content">Please do not power off your device while the Prime Select configuration
            is being applied.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <mat-progress-bar mode="query"></mat-progress-bar>
    </mat-dialog-actions>
</div>