.cpu-frequency-info {
    > mat-card {
        overflow-x: auto;
        overflow-y: hidden;
    }

    mat-checkbox {
        height: 60px;
        margin-right: 20px;
    }
}

.cpu-frequency-info table {
    >tr {
        height: 30px;

        >th {
            min-width: 140px;
            text-align: right;
            padding-right: 10px;

            +th, +td {
                min-width: 100px;
                text-align: left;
            }
        }

        th.default-profiles, th.active-profile {
            color: gray;
            width: 70px;
        }

        th.custom-profile-edit, td.custom-profile-edit {
            min-width: 200px;
            padding-left: 50px;
        }
    }
}

.cores-detailed-view table {
    font-size: 0.9em;
}