<br />
<mat-card>
    <mat-card-title>CPU frequency configuration</mat-card-title>
    <mat-card-subtitle>Scaling driver: <code>{{ activeScalingDrivers.join(',') }}</code></mat-card-subtitle>
    <mat-card-content class="cpu-frequency-info">
        <mat-card><mat-card-content>
            <form [formGroup]="formProfileEdit" (ngSubmit)="submitProfileEdit()">
                <table id="cpu-frequency-info">
                    <tr>
                        <th></th>
                        <th>Active values</th>
                        <th *ngFor="let profile of getDefaultProfilesForTable()" class="default-profiles">{{ profile.name }}</th>
                        <th class="active-profile" *ngIf="showActiveProfile">{{ activeProfile.name }}</th>
                        <th class="custom-profile-edit">
                            <mat-form-field>
                                <mat-select [(ngModel)]="selectedCustomProfile" [ngModelOptions]="{standalone: true}" placeholder="Edit custom profile" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let profile of getCustomProfiles()" [value]="profile.name" (click)="selectCustomProfileEdit(profile.name)">
                                        <span *ngIf="formProfileEdit.dirty && profile.name === selectedCustomProfile">*</span>{{ profile.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </th>
                    </tr>
                    <tr>
                        <th matTooltip="Logical CPU cores in use">CPU cores</th>
                        <td>{{ cpuCoreInfo.length }} of {{ cpuInfo.availableCores }}</td>
                        <td *ngFor="let profile of getDefaultProfilesForTable()" class="default-profiles">
                            {{ profile.cpu.onlineCores ? profile.cpu.onlineCores : 'default' }}
                        </td>
                        <td class="active-profile" *ngIf="showActiveProfile">{{ activeProfile.cpu.onlineCores }} of {{ cpuInfo.availableCores }}</td>
                        <td *ngIf="currentlyEditingProfile()" class="custom-profile-edit">
                            <mat-form-field style="width: 40px">
                                <input color="warn" style="width: 40px; " matInput formControlName="inputNumberCores" type="number" min="1" [max]="cpuInfo.availableCores" step="1" />
                            </mat-form-field>
                            of {{ cpuInfo.availableCores }}
                        </td>
                    </tr>
                    <tr *ngIf="activeScalingMinFreqs.length > 0">
                        <th matTooltip="Minimum scaling frequency">Min frequency</th>
                        <td>{{ activeScalingMinFreqs.join(',') }} GHz</td>
                        <td *ngFor="let profile of getDefaultProfilesForTable()" class="default-profiles">
                            {{ profile.cpu.scalingMinFrequency ? formatFrequency(profile.cpu.scalingMinFrequency) + ' GHz' : 'default' }}
                        </td>
                        <td class="active-profile" *ngIf="showActiveProfile">{{ formatFrequency(activeProfile.cpu.scalingMinFrequency) }} GHz</td>
                        <td *ngIf="currentlyEditingProfile()" class="custom-profile-edit">
                            {{ formatFrequency(frmInputMinFreq.value) }} GHz
                            <mat-slider #frmInputMinFreq formControlName="inputMinFreq" [min]="cpuCoreInfo[0].cpuInfoMinFreq" [max]="cpuCoreInfo[0].cpuInfoMaxFreq" step="100000"></mat-slider>
                        </td>
                    </tr>
                    <tr *ngIf="activeScalingMaxFreqs.length > 0">
                        <th matTooltip="Maximum scaling frequency">Max frequency</th>
                        <td>{{ activeScalingMaxFreqs.join(',') }} GHz</td>
                        <td *ngFor="let profile of getDefaultProfilesForTable()" class="default-profiles">
                            {{ profile.cpu.scalingMaxFrequency ? formatFrequency(profile.cpu.scalingMaxFrequency) + ' GHz' : 'default' }}
                        </td>
                        <td class="active-profile" *ngIf="showActiveProfile">{{ formatFrequency(activeProfile.cpu.scalingMaxFrequency) }} GHz</td>
                        <td *ngIf="currentlyEditingProfile()" class="custom-profile-edit">
                            {{ formatFrequency(frmInputMaxFreq.value) }} GHz
                            <mat-slider #frmInputMaxFreq formControlName="inputMaxFreq" [min]="cpuCoreInfo[0].cpuInfoMinFreq" [max]="cpuCoreInfo[0].cpuInfoMaxFreq" step="100000"></mat-slider>
                        </td>
                    </tr>
                    <tr *ngIf="activeScalingGovernors.length > 0">
                        <th matTooltip="Scaling governor">Governor</th><td>{{ activeScalingGovernors.join(',') }}</td>
                        <td *ngFor="let profile of getDefaultProfilesForTable()" class="default-profiles">
                            {{ profile.cpu.governor ? profile.cpu.governor : 'default' }}
                        </td>
                        <td class="active-profile" *ngIf="showActiveProfile">{{ activeProfile.cpu.governor }}</td>
                        <td *ngIf="currentlyEditingProfile()" class="custom-profile-edit">
                            <!--mat-form-field-->
                                <mat-select formControlName="inputScalingGovernor" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let governor of cpuInfo.scalingAvailableGovernors" [value]="governor">{{ governor }}</mat-option>
                                </mat-select>
                            <!--/mat-form-field-->
                        </td>
                    </tr>
                    <tr *ngIf="activeEnergyPerformancePreference.length > 0">
                        <th matTooltip="Energy performance preference">Energy performance</th>
                        <td>{{ activeEnergyPerformancePreference.join(',') }}</td>
                        <td *ngFor="let profile of getDefaultProfilesForTable()" class="default-profiles">
                            {{ profile.cpu.energyPerformancePreference ? profile.cpu.energyPerformancePreference : 'default' }}
                        </td>
                        <td class="active-profile" *ngIf="showActiveProfile">{{ activeProfile.cpu.energyPerformancePreference }}</td>
                        <td *ngIf="currentlyEditingProfile()" class="custom-profile-edit">
                            <!--mat-form-field-->
                                <mat-select formControlName="inputEnergyPerformancePreference" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let energyPreference of cpuInfo.energyPerformanceAvailablePreferences" [value]="energyPreference">{{ energyPreference }}</mat-option>
                                </mat-select>
                            <!--/mat-form-field-->
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content></mat-card>
        <br />
        <div class="cpu-freq-table-toolbar" style="display: flex; justify-content: space-around; height: 40px; align-items: baseline;">
            <mat-checkbox [(ngModel)]="showActiveProfile">Show active profile</mat-checkbox>
            <mat-checkbox [(ngModel)]="showDefaultProfiles">Show default profiles</mat-checkbox>
            <button mat-stroked-button color="primary" [hidden]="!formProfileEdit.dirty" (click)="submitProfileEdit()">Save</button>
            <button mat-stroked-button color="warn" [hidden]="!formProfileEdit.dirty" (click)="discardProfileEdit()">Discard</button>
        </div>
    </mat-card-content>
</mat-card>
<br />
<mat-card>
    <mat-card-title>Active cores</mat-card-title>
    <mat-card-subtitle>Logical CPU cores in use</mat-card-subtitle>
    <mat-card-content class="cores-detailed-view">
        <mat-chip-list>
            <mat-chip *ngFor="let core of cpuCoreInfo">
                <strong>#{{ core.index + 1 }}</strong>:&nbsp;{{ core.scalingCurFreq / 1000000 | number:'1.2-2' }} GHz
            </mat-chip>
        </mat-chip-list>
        <br />
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Detailed view</strong>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table>
                <tr>
                    <th>Nr</th>
                    <th>Current freq.</th>
                    <th>Scaling min freq.</th>
                    <th>Scaling max freq.</th>
                    <th>Scaling gov.</th>
                    <th>Energy pref.</th>
                    <th>Driver</th>
                </tr>
                <tr *ngFor="let core of cpuCoreInfo">
                    <td>{{ core.index + 1 }}</td>
                    <td>{{ core.scalingCurFreq / 1000000 | number:'1.2-2' }} GHz</td>
                    <td>{{ core.scalingMinFreq / 1000000 | number:'1.2-2' }} GHz</td>
                    <td>{{ core.scalingMaxFreq / 1000000 | number:'1.2-2' }} GHz</td>
                    <td>{{ core.scalingGovernor }}</td>
                    <td>{{ core.energyPerformancePreference }}</td>
                    <td>{{ core.scalingDriver }}</td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
<br />