<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
    <h3 *ngIf="data.heading">{{ data.heading }}</h3>
    <p>{{ data.description }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-checkbox [formControl]="ctrlCheckboxNoBother" *ngIf="data.showCheckboxNoBother" color="primary">{{ data.checkboxNoBotherLabel }}</mat-checkbox>
    <button mat-button (click)="closeDialog(false)">{{ data.buttonAbortLabel }}</button>
    <button mat-button (click)="closeDialog(true)" cdkFocusInitial>{{ data.buttonConfirmLabel }}</button>
</mat-dialog-actions>
