{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "markdown"
  ],
  "rules": {
    "no-constant-condition": ["error", { "checkLoops": false }],
    "eqeqeq": ["error", "always"],
    "no-console": "off",
    "no-empty": "off"
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  }
}
