
<br />
<mat-card>
    <mat-card-title>
        Support
    </mat-card-title>
    <mat-card-subtitle>
        A collection of support information and links
    </mat-card-subtitle>
    <mat-card-content>
        <p><button mat-stroked-button color="primary" (click)="openExternalUrl('https://www.tuxedocomputers.com/de/Kontakt.tuxedo')">TUXEDO Support Webpage</button></p>
    </mat-card-content>
</mat-card>

<br />
<mat-accordion class="support-accordion">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                systeminfo.sh
            </mat-panel-title>
            <mat-panel-description>
                Download and run systeminfo.sh
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            Please enter the ticket number given at support request. If you do not have a ticket
            number yet please send an email to us and one will be sent automatically. 
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Anydesk
            </mat-panel-title>
            <mat-panel-description>
                Install and start Anydesk
                <mat-icon><img src="./assets/images/anydesk-logo-icon.svg"></mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            <button mat-raised-button (click)="buttonInstallRemoveAnydesk()" [disabled]="progress().get(anydeskProgramName) || progressCheck().get(anydeskProgramName)">
                <i class="fas fa-cog" [ngClass]="{'fa-spin': progress().get(anydeskProgramName) || progressCheck().get(anydeskProgramName) }"></i>
                {{ !anydeskInstalled && !progressCheck().get(anydeskProgramName) ? 'Install Anydesk' : '' }}
                {{ anydeskInstalled && !progressCheck().get(anydeskProgramName) ? 'Remove Anydesk' : '' }}
                {{ progressCheck().get(anydeskProgramName) ? 'Checking' : '' }}
            </button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="buttonStartAnydesk()" *ngIf="anydeskInstalled">Start Anydesk</button>
        </p>
    </mat-expansion-panel>
</mat-accordion>
