
<br />
<mat-accordion class="support-accordion">
    <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                TUXEDO Support
            </mat-panel-title>
            <mat-panel-description>
                General support information
                <mat-icon><img src="./assets/images/information.svg"></mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p><button mat-stroked-button color="primary" (click)="openExternalUrl('https://www.tuxedocomputers.com/de/Kontakt.tuxedo')">TUXEDO Support Webpage</button></p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle (click)="focusControl(frmInputTicketNumber)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                systeminfo.sh
            </mat-panel-title>
            <mat-panel-description>
                Download and run systeminfo.sh
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-vertical-stepper [linear]="true">
            <mat-step [stepControl]="formTicketNumber" label="Ticket number">
                <ng-template matStepLabel>
                    Ticket number{{ formTicketNumber.valid ? ': ' : '' }}
                    <strong>{{ formTicketNumber.valid ? frmInputTicketNumber.value : '' }}</strong>
                </ng-template>
                <form [formGroup]="formTicketNumber">
                    <p>
                        Please enter the ticket number given at support request. If you do not have a ticket
                        number yet please send an email to us and one will be sent automatically.
                    </p>
                    <p>
                        More information about which data the script collects can be found at
                        <a routerLink="/support" (click)="openExternalUrl('http://systeminfo.sh')">http://systeminfo.sh</a>.
                    </p>
                    <mat-form-field>
                        <input matInput formControlName="inputTicketNumber" #frmInputTicketNumber type="text" placeholder="Ticket number" />
                    </mat-form-field>&nbsp;
                    <button mat-stroked-button matStepperNext color="primary">Next</button>
                </form>
            </mat-step>
            <mat-step label="Download and run">
                <button mat-raised-button color="primary">Start</button>
            </mat-step>
        </mat-vertical-stepper>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Anydesk
            </mat-panel-title>
            <mat-panel-description>
                Install and start Anydesk
                <mat-icon><img src="./assets/images/anydesk-logo-icon.svg"></mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            <button mat-raised-button (click)="buttonInstallRemoveAnydesk()" [disabled]="progress().get(anydeskProgramName) || progressCheck().get(anydeskProgramName)">
                <i class="fas fa-cog" [ngClass]="{'fa-spin': progress().get(anydeskProgramName) || progressCheck().get(anydeskProgramName) }"></i>
                {{ !anydeskInstalled && !progressCheck().get(anydeskProgramName) ? 'Install Anydesk' : '' }}
                {{ anydeskInstalled && !progressCheck().get(anydeskProgramName) ? 'Remove Anydesk' : '' }}
                {{ progressCheck().get(anydeskProgramName) ? 'Checking' : '' }}
            </button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="buttonStartAnydesk()" *ngIf="anydeskInstalled">Start Anydesk</button>
        </p>
    </mat-expansion-panel>
</mat-accordion>
