button {
    margin: 5px;
}

.aquaris-content {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .categories {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        width: 100%;

        .category {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;

            width: 100%;

            .label {
                display: inline-flex;
                width: 80px;
            }

            mat-button-toggle-group {
                font-size: 0.7em;
                height: 24px;
                align-items: center;
            }
        }
    }
}

.tcc-gauge.small {
    transform: scale(0.7);
    transform-origin: bottom;

    .legend {
        bottom: 20px;
    }
}

.tcc-gauge.small.fan-speed {
    ::ng-deep .value-text {
        font-size: 1.8em;
    }

    .unit-text {
        width: auto;
        top: 50%;
        left: 50%;
        transform: translateX(40px) translateY(-12px);

        font-size: 1.5em;
    }

    mat-slider {
        bottom: 0px;
    }
}

.color-visualizer {
    width: 50px;
    height: 150px;

    border: 3px solid;
}

.device-list-wrapper {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
    margin: 24px 0;
    padding: 10px;
    min-height: 200px;
    width: 600px;
}