<mat-card class="tcc-card aquaris-control">
    <mat-card-title class="theme-page-title">
        <svg viewBox="0 0 512 512" class="aquaris-logo"><use href="./assets/images/aquaris_logo.svg#Icon"></use></svg>
        <header>TUXEDO <span class="emph">AQUARIS</span></header>
        <mat-slide-toggle class="connect-slider"
            [formControl]="ctrlConnectionToggle"
            [checked]="isConnected"
            [disabled]="isConnecting || isDisconnecting"
            (change)="connectionToggle()"
            color="warn"></mat-slide-toggle>
        <span class="connection-status">Status: <span class="value">{{ connectedStatusString() }}</span></span>
    </mat-card-title>

    <!--button mat-raised-button color="basic" (click)="buttonConnect()" [disabled]="isConnected || isConnecting">
        <strong>Connect <i class="fas fa-cog" [ngClass]="{'fa-spin': isConnecting }"></i></strong>
    </button-->
    <!--button mat-raised-button color="basic" (click)="buttonDisconnect()" [disabled]="!isConnected || isDisconnecting">
        <strong>Disconnect</strong>
    </button-->
    <!-- {{ fwVersion }} -->

    <div class="aquaris-content">
        <div class="categories" *ngIf="isConnected && stateInitialized && !isDisconnecting">

            <!-- Fan control -->
            <div class="category">
                <header>
                    <svg viewBox="0 0 302 512" class="tcc-icons"><use href="./assets/images/icon_fan.svg#Icon"></use></svg>
                    Fan speed
                </header>
                <div class="tcc-gauge small fan-speed">
                    <mwl-gauge
                        [max]="100"
                        [min]="0"
                        [value]="fanSpeed.value"
                        [dialStartAngle]="150"
                        [dialEndAngle]="30"
                        [animated]="true"
                        [animationDuration]="0.3">
                    </mwl-gauge>
                    <div class="unit-text">%</div>
                    <div class="legend">
                        <div class="text small">Fan speed</div>
                    </div>
                </div>
                <span>
                    <mat-slider #fanSpeed [formControl]="ctrlFanDutyCycle"
                        min="0"
                        max="100"
                        step="1"
                        color="primary"
                        (input)="sliderFanInput(fanSpeed.value)">
                    </mat-slider>
                </span>
            </div>

            <!-- Pump control -->
            <div class="category" *ngIf="showPumpControls">
                <mat-slide-toggle [formControl]="ctrlPumpToggle" (change)="pumpInput()" color="warn">Pump status</mat-slide-toggle>
                <mat-slider #pumpDutyCycle [formControl]="ctrlPumpDutyCycle"
                    min="0"
                    max="100"
                    step="1"
                    color="primary"
                    (change)="pumpInput(pumpDutyCycle.value, pumpVoltage.value)">
                </mat-slider>
                <div>
                    <mat-button-toggle-group #pumpVoltage [formControl]="ctrlPumpVoltage" (change)="pumpInput()">
                        <mat-button-toggle [value]="2">7V</mat-button-toggle>
                        <mat-button-toggle [value]="3">8V</mat-button-toggle>
                        <mat-button-toggle [value]="0">11V</mat-button-toggle>
                        <mat-button-toggle [value]="1">12V</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>

            <!-- LED Control-->
            <div class="category">
                <header>
                    <svg viewBox="0 0 512 512" class="tcc-icons"><use href="./assets/images/icon_theme.svg#Icon"></use></svg>
                    LED Control
                </header>
                <div *ngIf="showLedSliders">
                    <span class="label">Red {{ colorRed.value }}</span>
                    <mat-slider #colorRed [formControl]="ctrlLedRed"
                        min="0"
                        max="255"
                        step="1"
                        color="primary"
                        (input)="inputSlider(colorRed.value, colorGreen.value, colorBlue.value)">
                    </mat-slider>
                </div>
                <div *ngIf="showLedSliders">
                    <span class="label">Green {{ colorGreen.value }}</span>
                    <mat-slider #colorGreen [formControl]="ctrlLedGreen"
                        min="0"
                        max="255"
                        step="1"
                        color="primary"
                        (input)="inputSlider(colorRed.value, colorGreen.value, colorBlue.value)">
                    </mat-slider>
                </div>
                <div *ngIf="showLedSliders">
                    <span class="label">Blue {{ colorBlue.value }}</span>
                    <mat-slider #colorBlue [formControl]="ctrlLedBlue"
                        min="0"
                        max="255"
                        step="1"
                        color="primary"
                        (input)="inputSlider(colorRed.value, colorGreen.value, colorBlue.value)">
                    </mat-slider>
                </div>
                <mat-tab-group mat-stretch-tabs [dynamicHeight]="false" [(selectedIndex)]="selectedLedTab" (selectedIndexChange)="ledUpdate(ctrlLedRed.value, ctrlLedGreen.value, ctrlLedBlue.value)">
                    <mat-tab label="Choose color">
                        <span class="color-visualizer"
                        [style.background]="chosenColorHex"
                        [(colorPicker)]="chosenColorHex"
                        [cpDisableInput]="true"
                        [cpToggle]="true"
                        cpDialogDisplay="inline"
                        cpAlphaChannel="disabled"
                        (colorPickerChange)="inputColor()"></span>
                    </mat-tab>
                    <mat-tab label="Animation">
                        <span class="description">Cycle color animation with optional breathe effect</span>
                    </mat-tab>
                </mat-tab-group>
                <mat-checkbox color="primary" [formControl]="ctrlLedBreathe" (change)="ledUpdate(ctrlLedRed.value, ctrlLedGreen.value, ctrlLedBlue.value)">Breathe</mat-checkbox>
            </div>

        </div>

        <div class="device-list-wrapper" *ngIf="!isConnected && !isConnecting && !isDisconnecting && deviceList.length > 0">
            Please choose your TUXEDO Aquaris and click on the connect button
            <mat-selection-list [formControl]="ctrlDeviceList" [multiple]="false" [hidden]="deviceList.length === 0">
                <mat-list-option *ngFor="let device of deviceList" [value]="device.uuid" (click)="selectDevice(device.uuid)">
                    <mat-icon mat-list-icon *ngIf="device.rssi >= -70">signal_cellular_alt</mat-icon>
                    <mat-icon mat-list-icon *ngIf="device.rssi < -70 && device.rssi > -100">signal_cellular_alt_2_bar</mat-icon>
                    <mat-icon mat-list-icon *ngIf="device.rssi <= -100">signal_cellular_alt_1_bar</mat-icon>
                    <mat-line>TUXEDO Aquaris ({{ device.uuid }}) {{ device.rssi }}dBm</mat-line>
                </mat-list-option>
            </mat-selection-list>
            <span *ngIf="deviceList.length === 0">No devices found</span>
        </div>

        <mat-spinner *ngIf="(isConnecting && !isConnected) || isDisconnecting"></mat-spinner>
    </div>

</mat-card>